In [1]:
import pandas as pd
import numpy as np
from tqdm import tqdm
df = pd.read_csv('data-hs0b8.csv')
df

,Instituto,Localidad,Presentados,Aptos,Media Expediente,Media PAU
0,CENTRE PRIVAT LA PURÍSIMA,ALZIRA,34,34,7.9,6.6
1,IES REI EN JAUME,ALZIRA,59,56,7.6,6.2
2,IES JOSÉ MARÍA PARRA,ALZIRA,39,36,7.0,5.2
3,CENTRE PRIVAT NUESTRA SEÑORA DE LA SALUD,ALGEMESÍ,30,30,8.2,7.1
4,IES SANT VICENT FERRER,ALGEMESÍ,30,30,8.0,7.1
...,...,...,...,...,...,...
457,ES L'ALLUSSER,MUTXAMEL,28,24,7.3,5.0
458,CENTRO PRIVADO SAN ALBERTO MAGNO,MONFORTE DEL CID,8,8,8.4,5.8
459,IES MARÍA BLASCO,SANT VICENT DEL RASPEIG,50,49,7.5,5.5
460,CENTRE PRIVAT EL VALLE,ALACANT,10,10,7.9,6.9
461,CENTRE PRIVAT ÁNGEL DE LA GUARDA III,ALACANT,38,38,7.8,6.2

In [2]:
#Address to Coordinates (Google Maps)
import googlemaps
KEY = 'AIzaSyDIOaMgv0Jr4xIK5N9FOSLWYAQXZbXcy4Y'
gmaps = googlemaps.Client(key=KEY)
tqdm.pandas()

def get_coordinates(x):
    name= x.Instituto
    loc = x.Localidad
    city= 'Comunidad Valenciana, Spain'
    geocode_result = gmaps.geocode(str(name) +' '+ str(loc) +' '+ city)
    if len(geocode_result) > 0:
        return list(geocode_result[0]['geometry']['location'].values())
    else:
        return np.NaN

coordinates = []
for each in df[['Instituto','Localidad']].itertuples():
    coordinates.append(get_coordinates(each))

df['coordinate'] = coordinates

C:\Users\domyd\Miniconda3\lib\site-packages\tqdm\std.py:651: FutureWarning: The Panel class is removed from pandas. Accessing it from the top-level namespace will also be removed in the next version
  from pandas import Panel

In [3]:
df = df.dropna()
df

,Instituto,Localidad,Presentados,Aptos,Media Expediente,Media PAU,coordinate
0,CENTRE PRIVAT LA PURÍSIMA,ALZIRA,34,34,7.9,6.6,"[39.153307, -0.4422964]"
1,IES REI EN JAUME,ALZIRA,59,56,7.6,6.2,"[39.146734, -0.4306395]"
2,IES JOSÉ MARÍA PARRA,ALZIRA,39,36,7.0,5.2,"[39.1569694, -0.4292533]"
3,CENTRE PRIVAT NUESTRA SEÑORA DE LA SALUD,ALGEMESÍ,30,30,8.2,7.1,"[39.1827727, -0.4375332]"
4,IES SANT VICENT FERRER,ALGEMESÍ,30,30,8.0,7.1,"[39.1858352, -0.4375209]"
...,...,...,...,...,...,...,...
457,ES L'ALLUSSER,MUTXAMEL,28,24,7.3,5.0,"[38.4209557, -0.4456107]"
458,CENTRO PRIVADO SAN ALBERTO MAGNO,MONFORTE DEL CID,8,8,8.4,5.8,"[38.38134, -0.7189599999999999]"
459,IES MARÍA BLASCO,SANT VICENT DEL RASPEIG,50,49,7.5,5.5,"[38.3905117, -0.5212411]"
460,CENTRE PRIVAT EL VALLE,ALACANT,10,10,7.9,6.9,"[38.5793, -0.1033]"
461,CENTRE PRIVAT ÁNGEL DE LA GUARDA III,ALACANT,38,38,7.8,6.2,"[38.3666306, -0.4544057]"

In [4]:
librariespos = pd.read_csv('../Libraries/LibrariesCoordinates.csv', sep=',')
librariespos = librariespos.dropna()

In [5]:
# I Count the number of libraries near each school 
from geopy.distance import geodesic 

max_distance_km_1 = 2
max_distance_km_2 = 5
max_distance_km_3 = 8
max_distance_km_4 = 10

num_bib1 = []
num_bib2 = []
num_bib3 = []
num_bib4 = []

for school in df.itertuples():
    n_1 = 0
    n_2 = 0
    n_3 = 0
    n_4 = 0
    
    for lib in librariespos.itertuples():
        coo1 = (school.coordinate[0],school.coordinate[1])
        coo2 = (lib.LATITUDE,lib.LONGITUDE)
        d = geodesic(coo1,coo2).km 
        
        if(d<max_distance_km_1):
            n_1+=1
            n_2+=1
            n_3+=1
            n_4+=1
            
        elif(d<max_distance_km_2):
            n_2+=1
            n_3+=1
            n_4+=1
            
        elif(d<max_distance_km_3):
            n_3+=1
            n_4+=1
            
        elif(d<max_distance_km_4):
            n_4+=1
    
    num_bib1.append(n_1)
    num_bib2.append(n_2)
    num_bib3.append(n_3)
    num_bib4.append(n_4)
    
df['NumBib ' +str(max_distance_km_1)+' km']=num_bib1
df['NumBib ' +str(max_distance_km_2)+' km']=num_bib2
df['NumBib ' +str(max_distance_km_3)+' km']=num_bib3
df['NumBib ' +str(max_distance_km_4)+' km']=num_bib4

C:\Users\domyd\Miniconda3\lib\site-packages\ipykernel_launcher.py:48: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\domyd\Miniconda3\lib\site-packages\ipykernel_launcher.py:49: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\domyd\Miniconda3\lib\site-packages\ipykernel_launcher.py:50: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\domyd\Miniconda3\lib\site-packages\ipykernel_launcher.py:51: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [83]:
df

,Instituto,Localidad,Presentados,Aptos,Media Expediente,Media PAU,coordinate,NumBib,NumBib 2 km,NumBib 5 km,NumBib 8 km,NumBib 10 km
0,CENTRE PRIVAT LA PURÍSIMA,ALZIRA,34,34,7.9,6.6,"[39.153307, -0.4422964]",3,0,3,7,7
1,IES REI EN JAUME,ALZIRA,59,56,7.6,6.2,"[39.146734, -0.4306395]",1,0,1,5,7
2,IES JOSÉ MARÍA PARRA,ALZIRA,39,36,7.0,5.2,"[39.1569694, -0.4292533]",1,0,1,5,7
3,CENTRE PRIVAT NUESTRA SEÑORA DE LA SALUD,ALGEMESÍ,30,30,8.2,7.1,"[39.1827727, -0.4375332]",3,1,3,6,9
4,IES SANT VICENT FERRER,ALGEMESÍ,30,30,8.0,7.1,"[39.1858352, -0.4375209]",3,1,3,6,9
...,...,...,...,...,...,...,...,...,...,...,...,...
457,ES L'ALLUSSER,MUTXAMEL,28,24,7.3,5.0,"[38.4209557, -0.4456107]",8,1,8,15,44
458,CENTRO PRIVADO SAN ALBERTO MAGNO,MONFORTE DEL CID,8,8,8.4,5.8,"[38.38134, -0.7189599999999999]",1,1,1,3,3
459,IES MARÍA BLASCO,SANT VICENT DEL RASPEIG,50,49,7.5,5.5,"[38.3905117, -0.5212411]",11,3,11,42,44
460,CENTRE PRIVAT EL VALLE,ALACANT,10,10,7.9,6.9,"[38.5793, -0.1033]",5,1,5,9,10
461,CENTRE PRIVAT ÁNGEL DE LA GUARDA III,ALACANT,38,38,7.8,6.2,"[38.3666306, -0.4544057]",35,1,35,40,46

In [84]:
df.to_csv('dataSet.csv')